<div class='sixteen columns'>
  <div class='eight columns omega aside-container'>
    <h4><%= @post['title'] %> by <%= @user['name'] %></h4>
    <%= @post['content'] %>
  </div>
  
  <div class='eight columns omega aside-container'>
    <h4>Comments section</h4>
    <form action="/posts/<%= @post['id'] %>/comments" method='post'>
      <input type='text' placeholder='New comment' name='content'>
      <input type='hidden' name='user_id' value='<%= @current_user %>'>
      <input type='submit' value='Submit'>
    </form>
  
    <% @comments.each do |comment| %>
      <p><%= comment['user'] %>: <%= comment['content'] %></p>
    <% end %>
  </div>
</div><!-- end sixteen columnns -->
